
head {
	color: #F0EEEE;
}

body {
	background-color: #373535;
	text-align: center;
}
 
.line {
	display: inline;
	color: #FFFFFF;
	font-size: 30px;
	text-align: left;
}

a {
	color: #FFFFFF;
}

h1 {
	text-align: left;
	font-size: 30px;
}
