
hr {
	width: 80%;
}

head {
	color: #090000;
	font-family: "Times New Roman";
}
 
body {
	background-color: #F9F9F9;
	text-align: center;
}
  
.line {
	display: inline;
	font-size: 30px;
	margin-left: 15px;
	text-align: left;
	text-decoration: none;
	font-family: "Times New Roman";
	word-spacing: 15px;
	text-decoration: none;
}



a:link, a:visited {
	text-decoration: none;
}


.line2 {
	display: inline;
	font-size: 30px;
	text-align: center;
	text-decoration: none;
	font-family: "Times New Roman";
}

a {
	color: #090000;
}

h1 {
	text-align: left;
	font-size: 30px;
	color: #090000;
}


