
hr {
	width: 110%;
	margin-right: 50px;
}

body {
	font-family: "HelveticaNeue-Light";
	background-color: #2A2A2B; 
	color: #DDDDDF;
	font-size: 18px;
	text-align: left;
	margin-left: 370px;
} 

a:link, a:visited {
	text-decoration: none;
}

a {
	color: #FFFFFF;
}

head {
	text-align: center;
}

p {
	line-height: 10px;
}

h4 {
	line-height: 5px;
}

li {
	font-size: 15px;
	margin-right: 370px;
}

.line {
	color: #FFFFFF;
	display: inline;
	font-size: 30px;
	margin-left: 15px;
	text-decoration: none;
	font-family: "Times New Roman";
	word-spacing: 15px;
	text-decoration: none;
	text-align: center;
} 




