
hr {
	width: 110%;
}

.line {
	color: #FFFFFF;
	text-align: center;
	display: inline;
	font-size: 30px;
	margin-left: 15px;
	text-align: left;
	text-decoration: none;
	font-family: "Times New Roman";
	word-spacing: 15px;
	text-decoration: none;
} 

body {
	font-family: "HelveticaNeue-Light";
	background-color: #373535; 
	color: #BBA9C0;
	font-size: 18px;
	text-align: center;
} 

a:link, a:visited {
	text-decoration: none;
}

a {
	color: #FFFFFF;
}
