head {
	text-align: center;
}

body {
	font-family: "HelveticaNeue-Light";
	background-color: #2A2A2B; 
	color: #DDDDDF;
	margin-left: 370px;
	margin-right: 400px;
} 

a:link, a:visited {
	text-decoration: none;
} 
 
a {
	color: #FFFFFF;
	display: inline;
	font-size: 30px;
	text-decoration: none;
	font-family: "Times New Roman";
	text-decoration: none;
	text-align: center;
}

hr {
	width: 110%;
}

h4 {
	line-height: 5px;
}

li {
	font-size: 15px;
}

.line {
	padding-top: 20px;
	display: inline;
	font-size: 30px;
	margin-left: 15px;
	text-align: left;
	text-decoration: none;
	font-family: "Times New Roman";
	word-spacing: 15px;
	text-decoration: none;
	text-align: center;
}

div {
	text-align: center;
}


